
# --- pbi visual pipeline ---
.render/
__pycache__/
*.pyc
*.Report/.pbi/localSettings.json
*.SemanticModel/.pbi/localSettings.json
*.SemanticModel/.pbi/cache.abf
*.SemanticModel/.pbi/editorSettings.json
